# METAGIT_TYPE: SUBJECT
# Environments
.venv/
.venv2/

# Python build artifacts
__pycache__/
*.pyc

# Ephemeral junk / Inbox
trash/
png/*.png
!png/[0-9]*.png
png/DO_NOT_MOVE_source_of_truth_only/
png/DO_NOT_MOVE_source_of_truth_only/
json/client_secret.json
